langchain
langchain_community
langchain-groq
python-dotenv
langchain-huggingface
transformers
cohere
langchain-cohere
pydeck     
streamlit
grandalf
pypdf
langchain-text-splitters
faiss-cpu
youtube-transcript-api
tiktoken